# How do we prepare data for a bike share analytics platform?

## Exploring the data

Dealing with unclean data is not necessarily glamorous, yet it is always essential. A common example would be a repetitive typo; e.g. 1% of the rows having "New York" spelled as "New Yok". We can use a combination of `.groupby()` and `.count()` in order to get a summary of the different values in a particular column, and notice that there are some common misspelled proper nouns.

It can also be a good habit to shuffle the data and sift through a few hundred/thousand rows manually to get a good "feel" for the data. While this may seem excessive, you may catch an insight that would dramatically accelerate your subsequent work. Learn to love manually digging into the data if you want to be a data professional.

Let's read the data using the `.read_csv()` method. Note that we are passing a parameter `nrows=10000` so that we only read in the first 10,000 rows in the file (we are working with a subset of the data on our local machine as the entire dataset is quite large - more than 3 million rows):

In [1]:
import numpy as np
import pandas as pd
import math
import base64

In [2]:
# Read the data file and take a look at the data
df = pd.read_csv('data/trips.csv', nrows=10000)
df.head()

,Rental Id,Duration,Bike Id,End Date,EndStation Id,Start Date,StartStation Id,tag,userCategory
0,101428476,1680,12829.0,03/09/2020 20:32,132.0,03/09/2020 20:04,574,priority_medium,['A']
1,101522714,2700,10863.0,06/09/2020 12:56,702.0,06/09/2020 12:11,82,priority Medium,['B']
2,101377356,420,3997.0,02/09/2020 10:56,97.0,02/09/2020 10:49,225,priority Medium,['A']
3,101393663,660,16542.0,02/09/2020 18:40,622.0,02/09/2020 18:29,97,priority Medium,['A']
4,101622659,660,1605.0,08/09/2020 19:57,219.0,08/09/2020 19:46,36,priority_medium,['A']

As discussed before, the first step we ought to take with a new dataset is to familiarize ourselves with it. Let's read through the columns present in the dataset, find out how the data is spread out across columns, etc. This will also give us a sense of the obvious cleaning steps to be performed on each column present in the dataset.

In [3]:
# Take a look at the columns
df.columns

Index(['Rental Id', 'Duration', 'Bike Id', 'End Date', 'EndStation Id',
       'Start Date', 'StartStation Id', 'tag', 'userCategory'],
      dtype='object')

The list of available features is as follows:

1. **Rental Id:** A user can purchase the right to pick any bike in the city within 24 hours for Â£2. This column contains the ID of the rental (which may correspond to more than one bike). Notice that this is *not* the ID of the journey. Data type: `int64`.
1. **Duration:** The duration of the journey in seconds. Data type: `int64`.
2. **Bike Id:** The ID of the bike. Data type: `int64`.
3. **End Date:** End time of the journey. Data type: `object`.
4. **EndStation Id:** ID of the station at which this journey ended. Data type: `int64`.
5. **Start Date:** Start time of the journey. Data type: `object`.
6. **StartStation Id:** ID of the station at which this journey started. Data type: `int64`.
7. **tag:** A tag that one of the members of your team assigned to each journey to make it easier to group them for further analysis. This column was not part of the original dataset. Data type: `object`.
8. **userCategory:** Can be either `A` (occasional user) or `B` (frequent user). Data type: `object`.

## Format

![Format icon](data/images/format.jpg)

As mentioned during lecture, we will be handing our dataset as a `.csv` file encoded using `UTF-8`. We will make sure that these two requirements are met by exporting our file with the `df.to_csv("clean.csv", encoding="utf-8")` command.

## Relevance

![Relevance icon](data/images/relevance.jpg)

We said that we needed to:

* Replace each missing `Bike Id` with the "Not available" string
* Interpolate the missing values in the `userCategory` column
* Replace each missing `EndStation Id` with the "Not available" string

### Example 1

Replace the missing values in `bike_id` and `end_station_id` with the "Not Available" string.

**Answer.** There are a number of ways to do this, but we will do so with the [**`.fillna()`**](https://pandas.pydata.org/docs/reference/api/pandas.Series.fillna.html) Series function. This function takes a single argument and replaces all `NaN` values in the Series with the value of that argument:

In [4]:
df["Bike Id"] = df["Bike Id"].fillna('Not available')
df["EndStation Id"] = df["EndStation Id"].fillna('Not available')

### Interpolating missing values

To do the interpolation for `userCategory`, we can use the [**`.interpolate()`**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.interpolate.html) method in `pandas`. The `interpolate()` method uses linear interpolation, which is a mathematical method for filling in unknown points based on building a linear regression model on the non-missing points (you will learn more about linear regression in future cases). We can then use this model to estimate the values of the missing points. This is *very* different from substituting null values with random or meaningless values, as it *preserves aspects of the distribution of the data, which can be very important for certain analyses*.

But `userCategory` is a string - how can we apply a mathematical model to a string? Luckily, `userCategory` can only take on two values, so we can convert it to a `category` type with `.astype()` and then run the interpolation:

In [5]:
# Convert to a category type
df['userCategory'] = df['userCategory'].astype('category')

After converting `userCategory` to be a category column, let's see what the data looks like:

In [6]:
# The categories
df['userCategory'].cat.categories

Index(['['A']', '['B']'], dtype='object')

In [7]:
# Let's see the codes assigned to the categories
df['userCategory'].cat.codes.unique()

array([ 0,  1, -1], dtype=int8)

You can see there are 2 codes here: 0 and 1, which correspond to the two values `['A']` and `['B']`. (The number -1 represents the NaN values.) In order to interpolate the values, we need to call the `.interpolate()` method after having replaced the -1s with actual null values (`np.nan`s):

In [8]:
# The below code replaces the value -1 with NaN
user_cat_codes = df['userCategory'].cat.codes.replace(-1, np.nan)

# We now call the interpolate function that actually fills the NaN values with either a 0 or 1
user_cat_codes = user_cat_codes.interpolate()
user_cat_codes

0       0.0
1       1.0
2       0.0
3       0.0
4       0.0
       ...
9995    0.0
9996    0.0
9997    0.0
9998    0.0
9999    1.0
Length: 10000, dtype: float64

Now we convert the codes to the `category` data type:

In [9]:
user_cat_codes = user_cat_codes.astype(int).astype('category')

Finally, we replace back the 0s and 1s with the actual category names. For this, we can use the **`.cat.rename_categories()`** method:

In [10]:
user_cat_codes = user_cat_codes.cat.rename_categories(df['userCategory'].cat.categories)
df['userCategory'] = user_cat_codes
df['userCategory']

0       ['A']
1       ['B']
2       ['A']
3       ['A']
4       ['A']
        ...
9995    ['A']
9996    ['A']
9997    ['A']
9998    ['A']
9999    ['B']
Name: userCategory, Length: 10000, dtype: category
Categories (2, object): ['['A']', '['B']']

## Consistency

![Consistency icon](data/images/consistency.jpg)

### Data type consistency

From our previous examination of the dataset, we decided that these changes had to be made:

| Column | Current data type | Convert to |
| --- | --- | --- |
| `Rental Id` | `int64` | `category` |
| `Bike Id` | `int64` | `category` |
| `End Date` | `object` | `datetime` |
| `EndStation Id` | `int64` | `category` |
| `Start Date` | `object` | `datetime` |
| `StartStation Id` | `int64` | `category` |
| `tag` | `object` | `category` |
| `userCategory` | `object` | `category` |

### Exercise 1

To change the data type of a Series in `pandas`, we use the `.astype()` method that you learned in previous cases. Make the changes for all the columns except for `Start Date` and `End Date` (we will explain how to do those shortly). You also do not need to convert `userCategory` since we already did that when we interpolated its missing values.

**Answer.**

In [16]:
df['Rental Id'] = df['Rental Id'].astype('category')
df['Bike Id'] = df['Bike Id'].astype('category')
df['EndStation Id'] = df['EndStation Id'].astype('category')
df['tag'] = df['tag'].astype('category')
df['userCategory'] = df['userCategory'].astype('category')

-------

### Converting dates

This is a typical date in the dataset: `12/08/2020 16:28`. It follows the `DD/MM/YYYY` date format, and the 24 hour time format. The date and the time are separated by a space. To convert this kind of data into a `datetime` column, we use the **`pd.to_datetime()`** function like this (this function automatically detects the format, so we don't have to worry about that):

In [17]:
df["Start Date"] = pd.to_datetime(df["Start Date"])
df["End Date"] = pd.to_datetime(df["End Date"])

### Exercise 2

In terms of unit consistency, we need to create a new column, `duration_min`, that is the duration of the journeys in minutes instead of seconds. Create the column in `df`.

**Answer.**

In [18]:
df['duration_min'] = df['Duration']/60

-------

Let's now remove the `Duration` column:

In [19]:
df = df.drop(columns=["Duration"])

### Categorical consistency

We noticed that in `tag` we are supposed to have only three categories, `low`, `medium`, and `high`, but according to our report, we have five. A closer look at our DataFrame reveals that we have these labels: "priority low", "Priority low", "priority_high", "priority_medium", and "priority Medium". We need to standardize these. We can make a replacement dictionary and rename our categories with this code:

In [20]:
rename_dict = {"Priority low":"low",
               "priority_high":"high",
               "priority Medium":"medium",
               "priority_medium":"medium",
               "priority low":"low"
              }
df["tag"] = df["tag"].replace(rename_dict).astype("category")
df["tag"]

0       medium
1       medium
2       medium
3       medium
4       medium
         ...
9995       low
9996      high
9997       low
9998       low
9999    medium
Name: tag, Length: 10000, dtype: category
Categories (3, object): ['high', 'low', 'medium']

### Exercise 3

Do the appropriate replacements for the `userCategory` column (it has some weird formatting - `['A']` and `['B']` instead of `A` and `B`).

**Answer.**

In [27]:
userCategory_dict = {"['A']":"A",
                     "['B']":"B"}

df['userCategory']= df['userCategory'].replace(userCategory_dict).astype("category")

df['userCategory'].dtype

CategoricalDtype(categories=['A', 'B'], ordered=False)

-------

### Referential integrity

We now need to remove the duplicates in the dataset. The method of choice is [**`.drop_duplicates()`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html). When you use this method on a Series or DataFrame, it removes all the duplicate rows (keeping only the first occurrence) and then outputs the Series or DataFrame:

In [24]:
df = df.drop_duplicates()

The default in `.drop_duplicates()` when used on a DataFrame is to treat as duplicates only the rows that are equal in all of their fields, but you can also ask `pandas` to check for duplicity only on a subset of the fields, using the `subset` argument.

We also need to create trip IDs. When generating unique identifiers for datasets like this, we should make sure the generation process is **idempotent** (i.e. the same ID should be generated for each trip no matter how many times you run the script). This is required because there may be chances that the same trip is inputted into this tool multiple times. For example, suppose the customer first uploads the dataset for the first week of the month (for testing purposes, or based on data availability, etc.), and later uploads the dataset for the entire month. Now, if the same trip is assigned different IDs for each upload, then it might result in the analytics platform interpreting this as two different trips and this will skew the analysis.

### Exercise 4

Describe how you would generate a unique ID per trip while guaranteeing idempotence, then write code to do this.

**Answer.**

In [28]:
# Let's generate an id for each trip, in order to uniquely identify each trip. 
# The trip id can be a combination of start date, end date, and bike id
df['trip_id'] = df.apply(lambda x: ':'.join([str(x['Start Date']), str(x['End Date']), str(x['Bike Id'])]), axis=1)

# In order for the id to look actually like a unique identifier, let's use base64 encode to convert the id to a base64 string
# The command converts the newly created id column into bytes, and then gets the base64 encoded value for the same. 
# Then the base64 value is converted to string again and then stored in the trip_id column.
df['trip_id'] = df['trip_id'].apply(lambda x: base64.b64encode(x.encode()).decode())

#checking to see if what you wanted to happen happened
df['trip_id'].unique()

array(['MjAyMC0wMy0wOSAyMDowNDowMDoyMDIwLTAzLTA5IDIwOjMyOjAwOjEyODI5LjA=',
       'MjAyMC0wNi0wOSAxMjoxMTowMDoyMDIwLTA2LTA5IDEyOjU2OjAwOjEwODYzLjA=',
       'MjAyMC0wMi0wOSAxMDo0OTowMDoyMDIwLTAyLTA5IDEwOjU2OjAwOjM5OTcuMA==',
       ...,
       'MjAyMC0wMy0wOSAxMTo0MTowMDoyMDIwLTAzLTA5IDExOjUxOjAwOjg1NjAuMA==',
       'MjAyMC0wNS0wOSAyMDoyMTowMDoyMDIwLTA1LTA5IDIwOjQ3OjAwOjE2NjI2LjA=',
       'MjAyMC0wNi0wOSAxNzoxMjowMDoyMDIwLTA2LTA5IDE3OjI1OjAwOjE2OTYxLjA='],
      dtype=object)

-------

### Column name consistency

### Example 2

Rename the columns so that they are in all-lowercase and separate words with underscores.

**Answer.** We can use the **`.rename()`** method to do this efficiently. Similar to `replace()`, this method can also take a dictionary as its argument to compress the amount of necessary code-writing:

In [29]:
columns_dict = {"Rental Id":"rental_id",
                "Duration":"duration",
                "Bike Id":"bike_id",
                "End Date":"end_date",
                "EndStation Id":"end_station_id",
                "Start Date":"start_date",
                "StartStation Id":"start_station_id",
                "userCategory":"user_category"
               }
df = df.rename(columns=columns_dict)
df.columns

Index(['rental_id', 'bike_id', 'end_date', 'end_station_id', 'start_date',
       'start_station_id', 'tag', 'user_category', 'duration_min', 'trip_id'],
      dtype='object')

## Data augmentation

![Data augmentation](data/images/data_augmentation.jpg)

Our priorities are:

1. Merging `trips.csv` with `stations.json`
2. Creating the following features:
    1. Day of the week for both `start_date` and `end_date`
    2. Hour for both `start_date` and `end_date`
    3. Total cost of the rental
    4. Location (the general area where the station is located). In the `stations.json` file, these are the strings after the comma in `Station name`.

### Merging the datasets

To merge the two datasets, we first need to load `stations.json` into `pandas`. For this, we will use the [**`pd.read_json()`**](https://pandas.pydata.org/docs/reference/api/pandas.read_json.html) function:

In [30]:
stations = pd.read_json("data/stations.json", orient="columns")
stations.head()

   Station ID   Latitude  Longitude                          Station Name
0           1  51.529163  -0.109970            River Street , Clerkenwell
1           2  51.499606  -0.197574        Phillimore Gardens, Kensington
2           3  51.521283  -0.084605  Christopher Street, Liverpool Street
3           4  51.530059  -0.120973       St. Chad's Street, King's Cross
4           5  51.493130  -0.156876         Sedding Street, Sloane Square

**JSON files** are very similar to Python dictionaries. They are basically text files whose content is a dictionary that can be read by any major programming language.

JSON files are sometimes used instead of CSV files to share data because in some cases they take up less memory. With `pd.read_json()`, you can read files like this and turn them into DataFrames with a single line of code. Depending on how the JSON file is built, you can specify the orientation with the `orient` argument. Above, we used `orient="columns"` because the `stations.json` file's structure follows this pattern:

~~~json
{
   "col 1":{
      "row 1":"This is column 1, row 1",
      "row 2":"This is column 1, row 2"
   },
   "col 2":{
      "row 1":"This is column 2, row 1",
      "row 2":"This is column 2, row 2"
   }
}
~~~

But let's say you have a file like this:

~~~json
{
   "row 1":{
      "col 1":"This is row 1, column 1",
      "col 2":"This is row 1, column 2"
   },
   "row 2":{
      "col 1":"This is row 2, column 1",
      "col 2":"This is row 2, column 2"
   }
}
~~~

The correct way to read it would be using `orient="index"` (since the default integer indexes in a DataFrame refer to rows, this makes logical sense).

In [31]:
j = """{
   "row 1":{
      "col 1":"This is row 1, column 1",
      "col 2":"This is row 1, column 2"
   },
   "row 2":{
      "col 1":"This is row 2, column 1",
      "col 2":"This is row 2, column 2"
   }
}"""

pd.read_json(j, orient="index") # Try changing "index" for "columns" to see what happens!

                         col 1                    col 2
row 1  This is row 1, column 1  This is row 1, column 2
row 2  This is row 2, column 1  This is row 2, column 2

We can create the `location` column here before doing the merge. For that, we use the [**`.str.split()`**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.split.html) method. This method takes all the strings of a string Series and splits them using instances of a particular character within those strings. One common use case is when you have a column with strings that look like this:

<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>my_series</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Houston,Texas,United States</td>    </tr>    <tr>      <th>1</th>      <td>Toronto,Ontario,Canada</td>    </tr>    <tr>      <th>2</th>      <td>Tucson,Arizona,United States</td>    </tr>  </tbody></table>


You can split these values using the comma as a separator with the code `my_series.str.split(pat=",")` to get this result:

<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>my_series_split</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>[Houston, Texas, United States]</td>    </tr>    <tr>      <th>1</th>      <td>[Toronto, Ontario, Canada]</td>    </tr>    <tr>      <th>2</th>      <td>[Tucson, Arizona, United States]</td>    </tr>  </tbody></table>

Notice how each string in this Series was turned into a list, where each element of this list was derived from the characters between consecutive instances of the "," character (or between the start of the string and the first "," for the first element, and the last "," and the end of the string for the last element).

If you want the split values to be represented as columns of a DataFrame instead of lists inside a column, we can add the `expand=True` argument like this: `my_series.str.split(pat=",", expand=True)`. This is the result:

<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>0</th>      <th>1</th>      <th>2</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Houston</td>      <td>Texas</td>      <td>United States</td>    </tr>    <tr>      <th>1</th>      <td>Toronto</td>      <td>Ontario</td>      <td>Canada</td>    </tr>    <tr>      <th>2</th>      <td>Tucson</td>      <td>Arizona</td>      <td>United States</td>    </tr>  </tbody></table>

Let's now apply this to our read-in JSON file:

In [32]:
split_columns = stations["Station Name"].str.split(pat=",", expand=True)
split_columns.head()

                    0                  1     2
0       River Street         Clerkenwell  None
1  Phillimore Gardens         Kensington  None
2  Christopher Street   Liverpool Street  None
3   St. Chad's Street       King's Cross  None
4      Sedding Street      Sloane Square  None

Whoops! Somehow a third column got appended and it seems to be `None` for all of the rows. How can this be? Well, if this is happening, it's likely that there is *some* station name which has TWO commas in it, and so it is getting split properly into three columns. But most other station names only have ONE comma in them, so splitting those into three columns would necessarily mean the last column would be empty. Let's see if we're right by running the following:

In [33]:
split_columns[2].value_counts()

 Stockwell          1
 Wandsworth Road    1
Name: 2, dtype: int64

It seems there are two stations with two commas in them. In order to deal with this, we use the `n` argument, which tells `pandas` the maximum number of splits `str.split()` should perform. For instance, you could use `my_string.str.split(pat=",", n=1, expand=True)` to split only at the first comma and get this result. Let's apply this to our read-in JSON file:

In [34]:
split_columns = stations["Station Name"].str.split(pat=",", n=1, expand=True)
split_columns.head()

                    0                  1
0       River Street         Clerkenwell
1  Phillimore Gardens         Kensington
2  Christopher Street   Liverpool Street
3   St. Chad's Street       King's Cross
4      Sedding Street      Sloane Square

There we go! Now we simply add these columns to `stations` and do the corresponding adjustments:

In [35]:
stations = pd.concat([stations, split_columns], axis=1)
rename_dict = {
    0:"station_name",
    1:"location",
    "Latitude":"latitude",
    "Longitude":"longitude",
    "Station ID":"station_id"
}
stations = stations.rename(columns=rename_dict)
stations = stations.drop(columns=["Station Name"])
stations["station_id"] = stations["station_id"].astype("category") # We need this to be a category feature
stations.head()

  station_id   latitude  longitude        station_name           location
0          1  51.529163  -0.109970       River Street         Clerkenwell
1          2  51.499606  -0.197574  Phillimore Gardens         Kensington
2          3  51.521283  -0.084605  Christopher Street   Liverpool Street
3          4  51.530059  -0.120973   St. Chad's Street       King's Cross
4          5  51.493130  -0.156876      Sedding Street      Sloane Square

We also use **`str.strip()`** to get rid of leading and trailing spaces:

In [36]:
stations["station_name"] = stations["station_name"].str.strip()
stations["location"] = stations["location"].str.strip()

The [`str.strip()`](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.strip.html) method takes all the strings in a Series and removes any leading or trailing whitespaces in them. After being processed with this method, a string like "   hello world! " will, for instance, be stripped to become "hello world!".

You can also specify a custom character to remove with the `to_strip` argument (e.g. to remove `_`s you would use `my_series.str.strip(to_strip="_")`, and "\_hello world!\_" would become "hello world!"), rather than removing whitespaces.

To merge the datasets, we use `pd.merge()`. For `start_station_id`:

In [37]:
df = pd.merge(df, stations, left_on="start_station_id", right_on="station_id", how="left")

rename_dict = {
    "latitude":"start_latitude",
    "longitude":"start_longitude",
    "station_name":"start_station_name",
    "location":"start_location"
}
df = df.rename(columns=rename_dict)
# Remove the extra column that was added
df = df.drop(columns=["station_id"])
# Fill any remaining nulls with "Not Available" - only for string columns
obj_cols = df.columns[df.dtypes=="object"]
df[obj_cols] = df[obj_cols].fillna('Not Available')
df.head()

,rental_id,bike_id,end_date,end_station_id,start_date,start_station_id,tag,user_category,duration_min,trip_id,start_latitude,start_longitude,start_station_name,start_location
0,101428476,12829.0,2020-03-09 20:32:00,132.0,2020-03-09 20:04:00,574,medium,A,28.0,MjAyMC0wMy0wOSAyMDowNDowMDoyMDIwLTAzLTA5IDIwOj...,51.533560,-0.093150,Eagle Wharf Road,Hoxton
1,101522714,10863.0,2020-06-09 12:56:00,702.0,2020-06-09 12:11:00,82,medium,B,45.0,MjAyMC0wNi0wOSAxMjoxMTowMDoyMDIwLTA2LTA5IDEyOj...,51.514274,-0.111257,Chancery Lane,Holborn
2,101377356,3997.0,2020-02-09 10:56:00,97.0,2020-02-09 10:49:00,225,medium,A,7.0,MjAyMC0wMi0wOSAxMDo0OTowMDoyMDIwLTAyLTA5IDEwOj...,51.509353,-0.196422,Notting Hill Gate Station,Notting Hill
3,101393663,16542.0,2020-02-09 18:40:00,622.0,2020-02-09 18:29:00,97,medium,A,11.0,MjAyMC0wMi0wOSAxODoyOTowMDoyMDIwLTAyLTA5IDE4Oj...,51.497924,-0.183834,Gloucester Road (North),Kensington
4,101622659,1605.0,2020-08-09 19:57:00,219.0,2020-08-09 19:46:00,36,medium,A,11.0,MjAyMC0wOC0wOSAxOTo0NjowMDoyMDIwLTA4LTA5IDE5Oj...,51.501737,-0.184980,De Vere Gardens,Kensington

### Exercise 5

Copy the code above and paste it in a new cell. Modify it to do the merge for the end stations this time.

**Answer.**

In [39]:
df = pd.merge(df, stations, left_on="end_station_id", right_on="station_id", how="left")
# create a replacement dictionary
rename_dict = {
    "latitude":"end_latitude",
    "longitude":"end_longitude",
    "station_name":"end_station_name",
    "location":"end_location"
}
#apply the replacement dictionary to the df 
df = df.rename(columns=rename_dict)
# Remove the extra column that was added
df = df.drop(columns=["station_id"])
# Fill any remaining nulls with "Not Available" - only for string columns
obj_cols = df.columns[df.dtypes=="object"]
df[obj_cols] = df[obj_cols].fillna('Not Available')
#peek-a-boo! let's see what happened
df.head()

ValueError: Columns must be same length as key

-------

### Feature engineering

Finally, let's create the `start_weekday`, `start_hour`, and `rental_cost` features. We start with the first two:

In [40]:
# We've generated the merged df DataFrame for you, but you will have to figure out the code we used (in Exercise 5)!
df = pd.read_csv("data/df_exercise.csv", parse_dates=["start_date"])

df['start_hour'] = df['start_date'].dt.hour # dt.hour gets you the hour
df['start_weekday'] = df['start_date'].dt.weekday # dt.weekday gets you the weekday (as an integer)

Here we used the [**`dt.hour`**](https://pandas.pydata.org/docs/reference/api/pandas.Series.dt.hour.html) and [**`dt.weekday`**](https://pandas.pydata.org/docs/reference/api/pandas.Series.dt.weekday.html) attributes. These only work with columns that are of type `datetime`. These basically acess the hour and the weekday of the `datetime`. (Observe that you have to add `dt` before you call these attributes.) Other attributes include `dt.tz` (timezone), `dt.year`, `dt.month`, `dt.day`, `dt.minute`, and `dt.second`, [amongst others](https://pandas.pydata.org/docs/reference/series.html#datetimelike-properties).

### Exercise 6 (optional)

Create the `rental_cost` DataFrame. Remember that you have to pay Â£2 upfront for your rental, and then you can have as many rides as you want without paying more, so long as you don't exceed 30 minutes in each ride. If you exceed this threshold, you have to pay Â£2 for each 30-minute block (a fraction of a block counts as a full block).

The DataFrame should look like this:

<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>rental_id</th>      <th>rental_cost</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>101368080</td>      <td>2</td>    </tr>    <tr>      <th>1</th>      <td>101368081</td>      <td>2</td>    </tr>    <tr>      <th>2</th>      <td>101368082</td>      <td>2</td>    </tr>    <tr>      <th>3</th>      <td>101368083</td>      <td>2</td>    </tr>    <tr>      <th>4</th>      <td>101368084</td>      <td>2</td>    </tr>    <tr>      <th>5</th>      <td>101368086</td>      <td>2</td>    </tr>    <tr>      <th>6</th>      <td>101368172</td>      <td>2</td>    </tr>    <tr>      <th>7</th>      <td>101368173</td>      <td>2</td>    </tr>    <tr>      <th>8</th>      <td>101368174</td>      <td>2</td>    </tr>    <tr>      <th>9</th>      <td>101368176</td>      <td>2</td>    </tr>    <tr>      <th>...</th>      <td>...</td>      <td>...</td>    </tr>  </tbody></table>

**Hint:** To round a float number up, you can use the [`.ceil()`](https://www.w3schools.com/python/ref_math_ceil.asp) function from the `math` module.

**Answer.**

In [43]:
#For rental cost, we can use an anonymous function to establish how many 30-minute blocks were used up by the rider in each trip (we round up the result with math.ceil() since a fraction of a block counts as an entire block):


df['time_blocks'] = df["duration_min"].apply(lambda x: math.ceil(x/30))
df.head()

,rental_id,bike_id,end_date,end_station_id,start_date,start_station_id,tag,user_category,duration_min,start_latitude,...,start_station_name,start_location,end_latitude,end_longitude,end_station_name,end_location,start_hour,start_weekday,rental_cost,time_blocks
trip_id,,,,,,,,,,,,,,,,,,,,,
MjAyMC0wMy0wOSAyMDowNDowMDoyMDIwLTAzLTA5IDIwOjMyOjAwOjEyODI5LjA=,101428476,12829.0,2020-03-09 20:32:00,132.0,2020-03-09 20:04:00,574,medium,A,28.0,51.533560,...,Eagle Wharf Road,Hoxton,51.523648,-0.074754,Bethnal Green Road,Shoreditch,20,0,2,1
MjAyMC0wNi0wOSAxMjoxMTowMDoyMDIwLTA2LTA5IDEyOjU2OjAwOjEwODYzLjA=,101522714,10863.0,2020-06-09 12:56:00,702.0,2020-06-09 12:11:00,82,medium,B,45.0,51.514274,...,Chancery Lane,Holborn,51.528681,-0.065550,Durant Street,Bethnal Green,12,1,4,2
MjAyMC0wMi0wOSAxMDo0OTowMDoyMDIwLTAyLTA5IDEwOjU2OjAwOjM5OTcuMA==,101377356,3997.0,2020-02-09 10:56:00,97.0,2020-02-09 10:49:00,225,medium,A,7.0,51.509353,...,Notting Hill Gate Station,Notting Hill,51.497924,-0.183834,Gloucester Road (North),Kensington,10,6,2,1
MjAyMC0wMi0wOSAxODoyOTowMDoyMDIwLTAyLTA5IDE4OjQwOjAwOjE2NTQyLjA=,101393663,16542.0,2020-02-09 18:40:00,622.0,2020-02-09 18:29:00,97,medium,A,11.0,51.497924,...,Gloucester Road (North),Kensington,51.507481,-0.205535,Lansdowne Road,Ladbroke Grove,18,6,2,1
MjAyMC0wOC0wOSAxOTo0NjowMDoyMDIwLTA4LTA5IDE5OjU3OjAwOjE2MDUuMA==,101622659,1605.0,2020-08-09 19:57:00,219.0,2020-08-09 19:46:00,36,medium,A,11.0,51.501737,...,De Vere Gardens,Kensington,51.490163,-0.190393,Bramham Gardens,Earl's Court,19,6,2,1

In [44]:
#The first 30 minutes are free, so we subtract 1 from this column:
df['time_blocks'] = df['time_blocks'] - 1

In [45]:
#Then we calculcate the rental costs. Here, we:
#Count how many non-free time blocks there were for each rental_id using .groupby() (across all the trips related to that rental)
#Multiply the number of blocks by Â£2
#Add the Â£2 that the user had to pay upfront


rental_cost = df.groupby("rental_id")["time_blocks"].sum().reset_index()
rental_cost["rental_cost"] = 2 + (rental_cost["time_blocks"]*2)
rental_cost = rental_cost.drop(columns=["time_blocks"])
rental_cost

      rental_id  rental_cost
0     101368080            2
1     101368081            2
2     101368082            2
3     101368083            2
4     101368084            2
...         ...          ...
9995  101628051            2
9996  101628075            2
9997  101628123            2
9998  101628158            2
9999  101628215            2

[10000 rows x 2 columns]

-------

### Joining the `rental_cost` data (optional)

Now, we can merge the two DataFrames and make `trip_id` the index. We can do this using the `.set_index()` DataFrame method:

In [41]:
# We've generated the rental_cost DataFrame for you, but you will have to figure out the code we used (in Exercise 6)!
rental_cost = pd.read_csv("data/rental_cost.csv")

df = pd.merge(df, rental_cost, left_on="rental_id", right_on="rental_id", how="left")
df = df.set_index("trip_id")
df.head()

,rental_id,bike_id,end_date,end_station_id,start_date,start_station_id,tag,user_category,duration_min,start_latitude,start_longitude,start_station_name,start_location,end_latitude,end_longitude,end_station_name,end_location,start_hour,start_weekday,rental_cost
trip_id,,,,,,,,,,,,,,,,,,,,
MjAyMC0wMy0wOSAyMDowNDowMDoyMDIwLTAzLTA5IDIwOjMyOjAwOjEyODI5LjA=,101428476,12829.0,2020-03-09 20:32:00,132.0,2020-03-09 20:04:00,574,medium,A,28.0,51.533560,-0.093150,Eagle Wharf Road,Hoxton,51.523648,-0.074754,Bethnal Green Road,Shoreditch,20,0,2
MjAyMC0wNi0wOSAxMjoxMTowMDoyMDIwLTA2LTA5IDEyOjU2OjAwOjEwODYzLjA=,101522714,10863.0,2020-06-09 12:56:00,702.0,2020-06-09 12:11:00,82,medium,B,45.0,51.514274,-0.111257,Chancery Lane,Holborn,51.528681,-0.065550,Durant Street,Bethnal Green,12,1,4
MjAyMC0wMi0wOSAxMDo0OTowMDoyMDIwLTAyLTA5IDEwOjU2OjAwOjM5OTcuMA==,101377356,3997.0,2020-02-09 10:56:00,97.0,2020-02-09 10:49:00,225,medium,A,7.0,51.509353,-0.196422,Notting Hill Gate Station,Notting Hill,51.497924,-0.183834,Gloucester Road (North),Kensington,10,6,2
MjAyMC0wMi0wOSAxODoyOTowMDoyMDIwLTAyLTA5IDE4OjQwOjAwOjE2NTQyLjA=,101393663,16542.0,2020-02-09 18:40:00,622.0,2020-02-09 18:29:00,97,medium,A,11.0,51.497924,-0.183834,Gloucester Road (North),Kensington,51.507481,-0.205535,Lansdowne Road,Ladbroke Grove,18,6,2
MjAyMC0wOC0wOSAxOTo0NjowMDoyMDIwLTA4LTA5IDE5OjU3OjAwOjE2MDUuMA==,101622659,1605.0,2020-08-09 19:57:00,219.0,2020-08-09 19:46:00,36,medium,A,11.0,51.501737,-0.184980,De Vere Gardens,Kensington,51.490163,-0.190393,Bramham Gardens,Earl's Court,19,6,2

## Exporting the dataset

Our dataset is now clean and ready to be exported and delivered to our client. We save it to our working directory using the [**`.to_csv()`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html) method:

In [42]:
df.to_csv("clean.csv", encoding="utf-8")

This method can take many arguments (check the [docs](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html) for details). Here we only used the desired filename (`"clean.csv"`) and `encoding="utf-8"`, to make sure the result uses UTF-8 (this is the default value, so we could have also left this argument unspecified). If we wanted our file to be saved to a subfolder (say, `results/`), we could run `df.to_csv("results/clean.csv", encoding="utf-8")` instead.